* {
    font-family: 'Poppins', sans-serif;
}
.titulo{
    text-align: center;
    font-style: normal;
}
.tabla{
    margin-top: 5%;
    margin-right:10%;
    margin-left: 10%;
    
}

.barraCabecera{
    color: white;
    background-image: linear-gradient(#373B44,#4286f4);
    text-align: center;
    margin-top: 0%;
}


h5{
    font-size: medium;
    margin-right: 5px;
    margin-left: 5px;
}

.menu label{
    align-items: center;
    color: white;
    font-size: medium;
}

hr{
    flex-direction: row;
}

.thead{
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
    background-color: transparent;
}
.tbody{
    position: relative;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }

  .circuloRojo{
    width:30px;
    height: 30px;
    border-radius: 30px;
    background-color:red;
  }
  .circuloAmarillo{
    width:30px;
    height: 30px;
    border-radius: 30px;
    background-color:yellow;
  }
  .circuloVerde{
    width:30px;
    height: 30px;
    border-radius: 30px;
    background-color:green;
  }
  .circuloBlanco{
    width:30px;
    height: 30px;
    border-radius: 30px;
    background-color:white;
  }